.home-about {

.banner {
  width: 78%;
  @media (max-width: 767px) {
    width: 93% !important;
  }
}

.banner-container-img {
  @media screen and (max-width: 767px) {
    height: 223px !important; /* Hauteur spécifique en mode mobile */
  }
}


.collapse-about {
  margin: 0 15vw 0 15vw;
  @media (max-width: 767px) {
    margin: 0 1vw 0 1vw !important; /* Hauteur spécifique en mode mobile */
  }


  .collapse {
    width: 100%;

    &.open {
      .collapse-header {
        background-color: #ff6060;
      }
    }

    .collapse-content {
      background-color: #f6f6f6;
      color: #ff6060;
    }

    .collapse-header {
      height: 52px;
      background-color: #ff6060;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      cursor: pointer;
      margin: 30px; 
      border-radius: 5px;
      margin: -30px 30 0 30px !important;

      @media (max-width: 767px) {
        margin: 30px 13px 0 13px !important;
      }
      
    }

    .collapse-icon {
      width: 20px;
    }

    .collapse-content {
      padding: 10px;
      border-radius: 0 0px 20px 20px;
      margin: -30px 30px 0 30px;
      @media (max-width: 767px) {
        margin: 0px 20px 0 20px !important;

      }
      ul {
        list-style-type: none;
      }
    }
  }
}
}
