@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat';
}

.home {
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 9% 20px 9%;

  .nav-text {
    display: flex;
    list-style-type: none;
    gap: 50px;

    @media (max-width: 767px) {
      text-transform: uppercase;
    }

    .nav-link {
      color: #ff6060;
      text-decoration: none;

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .header-logo {
    img {
      height: 60px; /* Taille initiale du logo */
    }
  }

  @media screen and (max-width: 768px) {
    .header-logo img {
      height: 50px; /* Taille du logo pour les écrans jusqu'à 768px */
    }
  }

  @media screen and (max-width: 600px) {
    .header-logo img {
      height: 40px; /* Taille du logo pour les écrans jusqu'à 600px */
    }
  }

  @media screen and (max-width: 375px) {
    .header-logo img {
      height: 30px; /* Taille du logo pour les écrans jusqu'à 375px */
    }
  }
}

.banner {
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 82%;
  margin-left: auto;
  margin-right: auto;

  .gradient-overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 20px;
  }

  .banner-container-img {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
  }


  .banner-container-text {
    position: absolute;
    font-size: 4vw; /*en pourcentage de la largeur de la fenêtre*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    justify-content: center; /* Centre le texte horizontalement */
    align-items: center; /* Centre le texte verticalement */
    width: 100%;
    height: 100%;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 80%;
  margin: auto;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 20px;
}

.card {
  position: relative;
  
  .image-container {
    position: relative;
    max-width: 100%;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    
  
    .gradient-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
  
  img.small-image {
    max-width: 100%;
    height: 340px;
    border-radius: 10px;
    object-fit: cover;

  }
  
  .card-text {
    position: absolute;
    color: #fff;
    font-size: 1.2vw;
    top: 83%;
    left: 5%;

    @media screen and (max-width: 800px) {
      font-size: 10px;
    }
  }
}


@media screen and (max-width: 800px) {
  .header {
    margin: 20px;
  }

  .banner-container-text {
    font-size: 36px;
    
  }

  .card-container {
    padding: 20px;
    display: block;
    width: 80%;
    .card {
      padding-bottom: 10px;
      .image-container {
        height: 200px;
      }
      img.small-image {
        object-fit: cover;
        height: 200px;
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: black;
  text-align: center;
  padding-top: 40px;
  margin-top: 40px ;

  .footer-logo {
    color: white;
    padding-bottom: 20px;
  }
}
