.housing {
  max-width: 1440px;
  margin: auto;
  color: #ff6060;
  position: relative;
  margin: 0 8vw 0 8vw;

  &__host {
    display: flex;
    justify-content: space-between;
    margin: 15px 6.9% 15px 6.9%;

    @media screen and (max-width: 775px) {
      flex-direction: column;
    }
  }

  .carousel-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 20px;
    @media screen and (max-width: 775px) {
      height: auto;
    }
  }

  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 32%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    @media screen and (max-width: 775px) {
      top: 22%;
    }
  }

  .arrow-prev {
    left: 3%;
    justify-content: center;
    text-align: center;
  }

  .arrow-next {
    left: 97%;
    font-size: 24px;
  }

  .status {
    position: absolute;
    font-size: 2vw;
    left: 50%;
    transform: translate(-50%, -140%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .test {
    display: flex;
    justify-content: space-between;
  }

  .id-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -200px;

    h1 {
      font-size: 1.8vw;
    }

    p {
      font-size: 1.2vw;
    }

    .tags-list {
      display: flex;
      color: #fff;
      list-style: none;
      padding-left: 0;
      width: 700px;
      text-align: center;
      align-items: center;

      .tags-info {
        background-color: #ff6060;
        padding: 5px;
        margin: 5px;
        border-radius: 25px;
        padding: 3px 15px;
      }
    }
  }

  .housingId-container {
    display: grid;
  }

  .housingId-profile {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    gap: 10px;
    width: min-content;
    margin-left: auto;

    &-picture {
      width: 80px;
      border-radius: 100px;
    }
  }

  .description-equipements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;

    .description,
    .equipements {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      border-radius: 10px;

      .collapse {
        width: 100%;

        &.open {
          .collapse-header {
            background-color: #ff6060;
          }

          .collapse-content {
            background-color: #f6f6f6;
            color: #ff6060;
          }
        }

        .collapse-header {
          height: 52px;
          background-color: #ff6060;
          color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          cursor: pointer;
          border-radius: 20px;
        }

        .collapse-icon {
          width: 20px;
        }

        .collapse-content {
          height: 180px;
          padding: 10px;
          border-radius: 0 0px 20px 20px;
          ul {
            list-style-type: none;
          }
        }
      }
    }
  }

  /* Media query for mobile */
  @media (max-width: 767px) {
    .housing {
      margin: 20px !important;
    }

    .carousel {
      width: 100%;
    }

    .arrow-prev img,
    .arrow-next img {
      width: 15px;
      height: 30px;
    }

    .housingId-title {
      font-size: 18px !important;
    }

    .housingId-location {
      font-size: 14px !important;
    }

    .tags-list {
      font-size: x-small;
    }

    .tags-info {
      background-color: #ff6060;
      padding: 5px;
      margin: 5px;
      border-radius: 25px;
      padding: 3px 15px;
    }

    .test {
      flex-direction: column;
    }

    .housingId-container {
      display: flex !important;
      flex-direction: row-reverse;
      align-items: center;
      padding-bottom: 20px;

      .housingId-profile {
        font-size: 12px;
      }
    }

    .description-equipements {
      display: grid !important;
      flex-direction: column;
    }

    .footer {
      margin: none;
    }
  }
}
