.housing {
  max-width: 1440px;
  margin: auto;
  color: #ff6060;
  position: relative;

  &__host {
    display: flex;
    justify-content: space-between;
    margin: 15px 6.9% 15px 6.9%;

    @media screen and (max-width: 775px) {
      flex-direction: column;
    }
  }

  .carousel-image {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 20px;
  }

  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 32%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
  }

  .arrow-prev {
    left: 3%;
    justify-content: center;
    text-align: center;
  }

  .arrow-next {
    left: 97%;
    font-size: 24px;
  }

  .status {
    position: absolute;
    font-size: 2vw;
    left: 50%;
    transform: translate(-50%, -140%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .test {
    display: flex;
    justify-content: space-between;
  }

  .id {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 1.8vw;
      }

      p {
        font-size: 1.2vw;
      }

      .tags-list {
        display: flex;
        color: #fff;
        list-style: none;
        padding-left: 0;
        width: 700px;
        text-align: center;
        align-items: center;

        .tags-info {
          background-color: #ff6060;
          padding: 5px;
          margin: 5px;
          border-radius: 25px;
          padding: 3px 15px;
        }
      }
    }
  }

  .housingId-profile {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    gap: 10px;
    width: min-content;
    margin-left: auto;

    &-picture {
      width: 80px;
      border-radius: 100px;
    }
  }



    .rating-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  
  .description-equipements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;

    .description,
    .equipements {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      border-radius: 10px;

      .collapse {
        width: 100%;

        &.open {
          .collapse-header {
            background-color: #ff6060;
          }

          .collapse-content {
            background-color: #f6f6f6;
            color: #ff6060;
          }
        }

        .collapse-header {
          height: 52px;
          background-color: #ff6060;
          color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          cursor: pointer;
          border-radius: 20px;
        }

        .collapse-icon {
          width: 20px;
        }

        .collapse-content {
          height: 180px;
          padding: 10px;
          border-radius: 0 0px 20px 20px;
          ul {
            list-style-type: none;
          }
        }
      }
    }
  }
}

  /* Media query for mobile */
  @media (max-width: 767px) {

    .tagns-and-rating-container {
      flex-direction: column;
      align-items: flex-start;
    }

    .tags-list {
      width: 100%;
    }

    .rating-container {
      justify-content: flex-start;
    }

    .housingId-container {
      width: 100%;
      margin-left: 0;
      margin-top: 70%;
    }

    .description-equipements {
      flex-direction: column;
      align-items: normal !important;
    }
    
  }


